/* Apply a Courier New font to all elements */
* {
    font-family: 'Courier New';
  }
  
  /* Style the main heading */
  h1 {
    color: #1b74e4;
  }
  
  /* Style for the search button */
  #searchbtn {
    background-color: black;
    color: white;
  }
  
  /* Style for the user buttons */
  .userbtn {
    background-color: aqua;
  }
  